<style>
  button {
    cursor: pointer;
  }
</style>
<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <h3 class="col-lg-12">学生信息管理</h3>
    <div class="col-lg-12">
      <div class="form-group row">
        <div class="input-group col-md-2">
          <div class="input-group-prepend">
            <span class="input-group-text">编号</span>
          </div>
          <input type="text" id="id" [(ngModel)]="params.id" class="form-control">
        </div>
        <div class="input-group col-md-2">
          <div class="input-group-prepend">
            <span class="input-group-text">姓名</span>
          </div>
          <input type="text" id="username" [(ngModel)]="params.userName" class="form-control">
        </div>
        <div class="input-group col-md-2">
          <div class="input-group-prepend">
            <span class="input-group-text">性别</span>
          </div>
          <input type="text" id="gender" [(ngModel)]="params.gender" class="form-control">
        </div>

        <button type="button" class="btn btn-sm btn-primary" (click)="search()"><i class="fa fa-dot-circle-o"></i> 查询</button>
        <div class="input-group float-right col-md-2">
          <button type="button" class="btn btn-sm btn-success float-right" (click)="openEditWindow(manageUser)"><i class="fa fa-dot-circle-o"></i> 新增</button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 学生列表
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>基本信息</th>
                <th>身份信息</th>
                <th>毕业院校</th>
                <th>成绩</th>
                <th>其他信息</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>
                  {{user.id+' '+user.name+' '+user.gender}}<br/>
                  {{user.age+'岁 '+user.nation}}<br/>
                  {{user.contact}}
                </td>
                <td>
                  身份证: {{user.cardId}}<br/>
                  籍贯: {{user.hometown}}<br/>
                  紧急联系人: {{user.emergencyContact}}<br/>
                </td>
                <td>
                  {{user.graduateSchool}}<br/>
                  毕业时间: {{user.graduateTime}}<br/>
                  专业: {{user.specialty}}
                </td>
                <td>
                  {{user.score}}
                </td>
                <td>
                  宿舍: {{user.dormitory}}<br/>
                  学生来源: {{user.source}}<br/>
                  入库时间: {{user.createTime}}<br/>
                  更新时间: {{user.updateTime}}
                </td>
                <td>
                  <button class="button btn-sm btn-primary" (click)="openEditWindow(manageUser, user)" style="margin-right: 5px;">修改</button>
                  <button class="button btn-sm btn-danger" (click)="delete(user)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12 col-12 d-sm-down-none float-right">
            <pagination class="pull-right" [directionLinks]="true"  [boundaryLinks]="true" [rotate]="false" [maxSize]="6" [itemsPerPage]="params.pageSize" [totalItems]="params.totalSize"
                        [(ngModel)]="params.currentPage" [firstText]="'首页'" [lastText]="'末页'" [previousText]="'上一页'" [nextText]="'下一页'" (pageChanged)="search($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #manageUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">学生信息</h4>
        <button type="button" class="close" (click)="closeEditWindow(manageUser)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row" *ngIf="currentUser.id">
          <label class="col-md-2 col-form-label" for="modal-username">编号</label>
          <div class="col-md-10">
            <input type="text" id="modal-id" name="modal-id" disabled="true" [(ngModel)]="currentUser.id" class="form-control" >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="modal-username">姓名</label>
          <div class="col-md-10">
            <input type="text" id="modal-username" name="modal-username" [(ngModel)]="currentUser.userName" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="modal-password">密码</label>
          <div class="col-md-10">
            <input type="text" id="modal-password" name="modal-password" [(ngModel)]="currentUser.password" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="modal-gender">性别</label>
          <div class="col-md-10">
            <input type="text" id="modal-gender" name="modal-gender" [(ngModel)]="currentUser.gender" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditWindow(manageUser)">取消</button>
        <button type="button" class="btn btn-primary" (click)="save()">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
